<h2>PLEASE CHOOSE THE BOX THAT MOST FIT THE BELLOW REFERRING EXPRESSION</h2>
<div>
	<span>EXPRESSION: {{this.generated_expression}}</span>
	<br/>
	<span><img src={{this.url}} alt="something" width="500" height="600"></span>
	<span>
		{{#each this.options as |option|}}
		    <div>
				<input
					onChange={{action onSelect option}}
					type="radio"
					name="object-group"/>
				<span>{{option}}</span>
		    </div>
		{{/each}}
		<button onClick={{action onSubmit}}>
			Submit
		</button>
	</span>
</div>